body {
	font-size: 18px;
	background-color: rgba(228, 241, 254, 1);
	color: rgba(68,108,179,1);

}

h1 {
	font-size: 1.75em;
	text-align: center;
	color: rgba(228, 241, 254,1);
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 75px;

}
header h1{
    padding: 0 10px;
}
header.container-fluid {
	background-color: rgba(68,108,179,1);
	height: 75px;
}

#new-todo {
    color: black;
    padding: 16px;

}
#new-todo:focus{
	    background-color: white;
}

#todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgba(68,108,179,1);
}
#todo-list li label {
	color: rgba(68,108,179,1);
}

#todo-list li.completed label {
	color: rgba(68,108,179,0.3);
}

#filters li a {
	color: rgba(68,108,179,1);
}

#filters li {
	border-color: color: rgba(68,108,179,1);
}

.container-fluid {
	margin: 0;
	padding: 0;
}
.container {
    padding-left: 0!important;
    padding-right: 0!important;
}
.row {
    margin-left: 0!important;
    margin-right: 0!important;
}
.config-btn{
	color: #E4F1FE;
}

.row-thick {
	margin-top: 25px ;
}

.row-last {
    margin-bottom: 50%;
}