<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="css/app.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/desktop.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-routes.min.js"></script>
	<script src="js/app.js"></script>

</head>
<body ng-app="myApp">
	<main class='container-fluid hide-it'>
		<div class="row">
		    <h1 class="col-xs-10 text-center motd"></h1>
		    <div class="col-xs-2 text-right off-btn">
		    		<span class="glyphicon glyphicon-off"></span>
		    </div>
		</div>
		<div class="row">
            <div class="col-xs-6">
				<div class="row">
					<div class="col-xs-5">
						<span class="hour" id="hour"></span>
					</div>
					<div class="col-xs-6">
						<span class="date_day" id="date_day"></span>
					</div>
				</div>
            	
            </div>
            <div class="col-xs-3 text-right">
            	<img class="img-responsive img-meteo"/>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12"><span class="country"></span> - <span class="location"></span></div>
                    <div class="col-xs-12 temperature"></div>
                </div>
            </div>
        </div>
		    	<div class="row">
					<section id ="todoapp" ng-controller="TodoController" class="col-xs-12" >
<!-- 						<header id="header" class="row">
							<h1 class="hidden-desktop">Todo List</h1>
							<form action="#" id="todo-form" ng-submit="addTodo() " class="col-xs-12">
								<input type="text" id="new-todo" placeholder="{{placeholder}}"  autocomplete="off" ng-model="newtodo" />
							</form>
						</header> -->
						<section id="main" class="row">
							<ul id="todo-list" class="col-xs-12">
								<li 
									ng-repeat="todo in todos | filter:statusFilter | limitTo: 10" 
									ng-class="{completed : todo.completed == '1', editing: todo.editing}" 
									>
									<div class="view">
										<input type="checkbox" class="toggle"  ng-click="checkTodo(todo)">
										<label for="" ng-init="todo.editing = false">{{todo.name}}</label>
										<input type="hidden" value="{{todo.id}}">
										<input type="hidden" name="_method" value="put" />
										<button class="destroy" ng-click="removeTodo($index, todo)"></button>
									</div>
									<form action="#">
										<input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)">
										<input type="hidden" name="_method" value="put" />
									</form>
								</li>
							</ul>
						</section>
						<footer id="footer" class="row">
							
							<ul id="filters" class="col-xs-10 col-xs-offset-1 col-xs-12">
								<div class="row">
									<li class="col-xs-4 col-xs-4 col-md-4">
										<a href="#/" ng-class="{selected: location.path() == '/'}">Toutes</a>
									</li>
									<li class="col-xs-4 col-xs-4 col-md-4">
										<a href="#/active" ng-class="{selected: location.path() == '/active'}">Actives</a>
									</li>
									<li class="col-xs-4 col-xs-4 col-md-4">
										<a href="#/done" ng-class="{selected: location.path() == '/done'}">Terminées</a>
									</li>
								</div>
							</ul>
						</footer>
					</section>		    
				</div>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				IP: <span id="myIp"></span>
			</div>
		</div>

	</main>
	<div class="display-zone">&nbsp;</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="lib/jquery-1.12.3.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>