<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="css/app.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-routes.min.js"></script>
    
	<script src="js/app.js"></script>

</head>
<body ng-app="myApp">
	<header class="container-fluid">
		<div class="row">
			<h1>
				<div class="col-xs-10">Ne pas oublier...</div>
				<div class="col-xs-2"><a href="/config.html" class="config-btn"><span class="glyphicon glyphicon-wrench"></span></a></div>
			</h1>				
		</div>

	</header>
	<main class='container'>
		<div class="row">
		    <div class="col-xs-12">
				<section id ="todoapp" ng-controller="TodoController">
					<div class="row">
						<form action="#" id="todo-form" ng-submit="addTodo() " class="col-xs-12">
							<input type="text" id="new-todo" placeholder="{{placeholder}}"  autocomplete="off" ng-model="newtodo" />
						</form>
					</div>
					<section id="main" class="row">
						<!-- <input type="checkbox" id="toggle-all" ng-model="allChecked" ng-click="checkAllTodo(allChecked)"> -->
						<ul id="todo-list" class="col-xs-12">
							<li 
								ng-repeat="todo in todos | filter:statusFilter | limitTo: 10" 
								ng-class="{completed : todo.completed == '1', editing: todo.editing}" 
								>
								<div class="view">
									<input type="checkbox" class="toggle"  ng-click="checkTodo(todo)">
									<label for="" ng-click="todo.editing = true; stopInterval()">{{todo.name}}</label>
									<input type="hidden" value="{{todo.id}}">
									<input type="hidden" name="_method" value="put" />
									<button class="destroy" ng-click="removeTodo($index, todo)"></button>
								</div>
								<form action="#">
									<input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)">
									<input type="hidden" name="_method" value="put" />
								</form>
							</li>
						</ul>
					</section>
					<footer id="footer" class="row">
						<!-- <span id="todo-count"><strong>{{remains}}</strong> taches restantes</span> -->
						<ul id="filters" class="col-xs-10 col-xs-offset-1 col-xs-12">
							<div class="row">
								<li class="col-xs-4 col-sm-4 col-md-4">
									<a href="#/" ng-class="{selected: location.path() == '/'}">Toutes</a>
								</li>
								<li class="col-xs-4 col-sm-4 col-md-4">
									<a href="#/active" ng-class="{selected: location.path() == '/active'}">Actives</a>
								</li>
								<li class="col-xs-4 col-sm-4 col-md-4">
									<a href="#/done" ng-class="{selected: location.path() == '/done'}">Terminées</a>
								</li>
							</div>
						</ul>
					</footer>
				</section>		    
		    </div>
		</div>
	</main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="lib/jquery-1.12.3.min.js"></script>
    <script src="js/script.js"></script>
    	

</body>
</html>