body {
	background-color: black;
	color: white;
	width: 100%;
	min-width: initial;
	max-width: initial;
	padding: 30px;
}
.hidden-desktop {
	display: none;
}
#todoapp {
	background-color: black;
	color: white;
}

.edit {
	color: black;
}
#hour {
	font-size: 3em;
}

#date_day {
	font-size: 1.5em;
}

.container {
	margin-top: 25px;
}
#filters {
	color: white;
	font-size: 1.3em;
}
#filters li a {
	border: solid white 1px;
	padding: 7px;
}
.img-meteo{
	height: 55px;
	display: inline-block;
}
#todo-list li .toggle:after {
/*	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
*/
	content: url('../img/icons/checkbox_checked_white.png')
}

#todo-list li .toggle:checked:after {
/*	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
*/	
	content: url('../img/icons/checkbox_checked_white.png')

}

h1 {
	font-weight: lighter;
	margin: 0;
	font-size: 5em;
}

#main{
	margin-top : 20px;
}

.off-btn{
	font-size: 2em;
}

.off-btn:hover{
	cursor: pointer;
}